<launch>
  <!-- <node pkg="nodelet" type="nodelet" name="pcl_manager" args="manager" output="screen"/> -->
  <!-- Elevation mapping node -->
  <node pkg="elevation_mapping_cupy" type="elevation_mapping_node" name="elevation_mapping" output="screen">
    <rosparam command="load" file="$(find elevation_mapping_cupy)/config/parameters.yaml" />
  </node>

  <include file="$(find convex_plane_decomposition_ros)/launch/convex_plane_decomposition.launch"/>

  <arg name="rviz_config"             default="$(find elevation_mapping_cupy)/rviz/unitree.rviz" />
  <!-- Launch RViz with the demo configuration. -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rviz_config)"/>
</launch>
